In [2]:
from  pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import countDistinct
from pyspark.sql import functions as f

In [3]:
spark = SparkSession.builder.appName("My_Spark_Project")\
.config("spark.memory.offHeap. enabled", "true") . config("spark.memory.offHeap. size", "10g") \
.getOrCreate()

In [7]:
books_data_df.printSchema()
print("Count of dataframe:",books_data_df.count())

root
 |-- Title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- authors: string (nullable = true)
 |-- image: string (nullable = true)
 |-- previewLink: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- publishedDate: string (nullable = true)
 |-- infoLink: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- ratingsCount: string (nullable = true)

Count of dataframe: 212404

In [10]:
books_data_df.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|               Title|         description|             authors|               image|         previewLink|           publisher|       publishedDate|            infoLink|          categories|        ratingsCount|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|              212403|              144047|              181153|              161213|              188349|              139274|              186560|              188103|              171880|               63852|
|   mean|   3823.672941176471|  1.4285714285714286|              1578.4|              1184.0|            Infinity|             3734.75|   1982.702933143332|   1989.054693877551|  1983.7334777898159|   56.31520537852275|
| stddev|  10717.999589636447|  0.9759000729485332|  1278.7901502106834|   959.3546076180041|                 NaN|  10193.316327911616|   37.65620052385513|   94.83861134693093|  142.43423125699238|  329.20879859753734|
|    min|  """ Film technique|              "" and| "" ""I'm a Littl...| "" ""In Honor of...| "" ""The Barefoo...| "" ""Skipper Ire...| "" ""Cruising fo...| "" Rawlins says....| "" Knox's quirky...| !Buscalo!'s easy...|
|    max|you can do anythi...|�Una novela llam�...|” “Jeanie with th...|” “sexual napalm…...|” headlines eight...|                펜립|” which is anthol...|        秀和システム|�� folk art is a ...|              谷月社|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [15]:
from pyspark.sql.functions import col, sum as spark_sum
# Count null values in each column
null_counts = books_data_df.agg(*[spark_sum(col(c).isNull().cast("int")).alias(c + '_null_count') for c in books_data_df.columns])

# Show the result
null_counts.show()

+----------------+----------------------+------------------+----------------+----------------------+--------------------+------------------------+-------------------+---------------------+-----------------------+
|Title_null_count|description_null_count|authors_null_count|image_null_count|previewLink_null_count|publisher_null_count|publishedDate_null_count|infoLink_null_count|categories_null_count|ratingsCount_null_count|
+----------------+----------------------+------------------+----------------+----------------------+--------------------+------------------------+-------------------+---------------------+-----------------------+
|               1|                 68357|             31251|           51191|                 24055|               73130|                   25844|              24301|                40524|                 148552|
+----------------+----------------------+------------------+----------------+----------------------+--------------------+------------------------+-------------------+---------------------+-----------------------+

In [5]:
file_path = r"C:\Users\abdel\Downloads\BigData_Project\Sales_Data\Liquor_Sales.csv"
# Read the CSV file into a DataFrame
Liquor_Sales_df = spark.read.csv(file_path, header=True, inferSchema=True)
Liquor_Sales_df.show()

+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|      Date|Store Number|          Store Name|             Address|           City|Zip Code|      Store Location|County Number|       County|Category|       Category Name|Vendor Number|         Vendor Name|Item Number|    Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|       S24127700024|02/19/2015|        3678|     Smoke Shop, The|     1918 SE 14TH ST|     DES MOINES|   50320|POINT (-93.597011...|           77|         Polk| 1031200|      VODKA FLAVORED|          380|Phillips Beverage...|      41783|Uv Blue Raspberry...|   6|               500|             4.89|               7.34|           2|         14.68|                 1.0|                 0.26|
|       S15066200002|10/10/2013|        2633|Hy-Vee #3 / BDI /...|     3221 SE 14TH ST|     DES MOINES|   50320|POINT (-93.596754...|           77|         Polk| 1082900|MISC. IMPORTED CO...|          305|             MHW Ltd|     904969|Sabe Premiom Sake...|   6|               750|            14.99|              22.49|           6|        134.94|                 4.5|                 1.19|
|       S19323500030|06/03/2014|        2607|Hy-Vee Wine and S...|      520 SO FREMONT|     SHENANDOAH|   51601|POINT (-95.385111...|           73|         Page| 1062200|PUERTO RICO & VIR...|          434|      Luxco-St Louis|      45277| Paramount White Rum|  12|              1000|             4.34|               6.51|          12|         78.12|                12.0|                 3.17|
|       S23334500013|01/06/2015|        4810|Kum & Go #518 / A...|3603 NE OTTERVIEW...|         ANKENY|   50021|POINT (-93.572458...|           77|         Polk| 1062200|PUERTO RICO & VIR...|           35|Bacardi U.S.A., Inc.|      43121|Bacardi Superior ...|  12|               500|             5.54|               8.31|           1|          8.31|                 0.5|                 0.13|
|       S09742200010|12/27/2012|        4025|Karam Kaur Khasri...|         702 13TH ST|   BELLE PLAINE|   52208|POINT (-92.277759...|            6|       Benton| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11298|Crown Royal Canad...|   6|              1750|             31.0|              46.49|           2|         92.98|                 3.5|                 0.92|
|       S15034600007|10/09/2013|        4583|Kum & Go #5100 / ...|         208 MAIN ST|         MANSON|   50563|POINT (-94.534532...|           13|      Calhoun| 1081200|      CREAM LIQUEURS|          305|             MHW Ltd|      73050|            Rumchata|   6|               750|             12.5|              18.75|           6|         112.5|                 4.5|                 1.19|
|       S25185100053|04/21/2015|        5080|    C's Liquor Store|       719 2ND AVE W|        SPENCER|   51301|POINT (-95.147741...|           21|         Clay| 1081390|   IMPORTED SCHNAPPS|          421|   Sazerac Co., Inc.|      69713|Dr. McGillicuddy'...|  12|               500|             4.96|               7.44|           1|          7.44|                 0.5|                 0.13|
|       S25786400073|05/21/2015|        5102|      Wilkie Liquors|    724, 1st  ST  SE|   MOUNT VERNON|   52314|POINT (-91.410401...|           57|         Linn| 1031080|      VODKA 80 PROOF|          434|      Luxco-St Louis|      36307|       Hawkeye Vodka|  12|              1000|             4.05|               6.08|          24|        145.92|                24.0|                 6.34|
|       S26178600169|06/15/2015|        2506|Hy-Vee #1044 / Bu...|         3140 AGENCY|     BURLINGTON|   52601|POINT (-91.136655...|           29|   Des Moines| 1081600|     WHISKEY LIQUEUR|          260|     Diageo Americas|      66206|Piehole Cherry Pi...|  12|               500|              4.9|               7.35|           1|          7.35|                 0.5|                 0.13|
|       S11599200028|04/11/2013|        2630|Hy-Vee Drugstore ...|       1010  60TH ST|WEST DES MOINES|   50266|POINT (-93.790534...|           77|         Polk| 1071100|  AMERICAN COCKTAILS|          395|             Proximo|      58838|Jose Cuervo Authe...|   6|              1750|              8.2|               12.3|           6|          73.8|                10.5|                 2.77|
|       S14039300026|08/21/2013|        3916|Smokin' Joe's #5 ...|       1115 ALBIA RD|        OTTUMWA|   52501|POINT (-92.437224...|           90|      Wapello| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11294|Crown Royal Canad...|  24|               375|             7.65|              11.48|           1|         11.48|                0.38|                  0.1|
|       S14777200004|09/25/2013|        4073|  Uptown Liquor, Llc|    306 HWY 69 SOUTH|    FOREST CITY|   50436|POINT (-93.633306...|           95|    Winnebago| 1012100|   CANADIAN WHISKIES|           55|Sazerac North Ame...|      12407| Canadian Ltd Whisky|  12|              1000|              5.5|               8.25|          12|          99.0|                12.0|                 3.17|
|       S28698700004|10/27/2015|        2578|Hy-Vee / Charles ...|        901 KELLY ST|   CHARLES CITY|   50616|POINT (-92.675560...|           34|        Floyd| 1031080|      VODKA 80 PROOF|          260|     Diageo Americas|      37426|Popov Vodka 80 Pr...|  12|               750|              4.5|               6.75|          12|          81.0|                 9.0|                 2.38|
|       S15825800006|11/20/2013|        4465| HOME TOWN FOOD ON 4|       714 S EAST ST|        POMEROY|   50575|POINT (-94.678054...|           13|      Calhoun| 1011100|    BLENDED WHISKIES|          434|      Luxco-St Louis|      24156|Hawkeye Blend Whi...|  12|               750|             3.36|               5.04|          24|        120.96|                18.0|                 4.76|
|       S27233900076|08/10/2015|        2613|Hy-Vee Food Store...|     2323 W BROADWAY| COUNCIL BLUFFS|   51501|POINT (-95.879662...|           78|Pottawattamie| 1022100|             TEQUILA|          410|The Patron Spirit...|      88296|Patron Tequila Si...|  12|               750|             27.0|               40.5|          12|         486.0|                 9.0|                 2.38|
|       S11716100052|04/17/2013|        3990|Cork and Bottle /...|      309 A AVE WEST|      OSKALOOSA|   52577|POINT (-92.648153...|           62|      Mahaska| 1032200|IMPORTED VODKA - ...|           35|Bacardi U.S.A., Inc.|      34436|Grey Goose Vodka ...|   6|               750|            17.97|              26.96|           1|         26.96|                0.75|                  0.2|
|       S28977300019|11/10/2015|        4743|No Frills Superma...| 1801 VALLEY VIEW DR| COUNCIL BLUFFS|   51503|POINT (-95.818775...|           78|Pottawattamie| 1022100|             TEQUILA|          395|             Proximo|      89198|Jose Cuervo Espec...|   6|              1750|            20.25|              30.38|           6|        182.28|                10.5|                 2.77|
|       S10005300010|01/15/2013|        2460|   Liquor Barn, Inc.|721 CENTRAL AVENU...|        HAMPTON|   50441|POINT (-93.21693 ...|           35|     Franklin| 1012100|   CANADIAN WHISKIES|           85|Brown-Forman Corp...|      12476|Canadian Mist Whi...|  12|               750|             5.44|               8.15|          12|          97.8|                 9.0|                 2.38|
|       S08028500005|10/01/2012|        4109|           Best Trip|         1516 SE 1ST|     DES MOINES|   50315|POINT (-93.613469...|           77|         Polk| 1011500|STRAIGHT RYE WHIS...|          255| Wilson Daniels Ltd.|      27102|       Templeton Rye|   6|               750|            18.08|              27.13|           6|        162.78|                 4.5|                 1.19|
|       S12260600026|05/16/2013|        3918|Smokin' Joe's #1 ...|  3120 ROCKINGHAM RD|      DAVENPORT|   52802|POINT (-90.621541...|           82|        Scott| 1081300| PEPPERMINT SCHNAPPS|          434|      Luxco-St Louis|      80576|Arrow Peppermint ...|  12|               750|             3.42|               5.13|           1|          5.13|                0.75|                  0.2|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 20 rows

In [6]:
file_path = r"C:\Users\abdel\Downloads\BigData_Project\Sales_Data\Books_rating.csv"
# Read the CSV file into a DataFrame
Liquor_Sales_df = spark.read.csv(file_path, header=True, inferSchema=True)
Liquor_Sales_df.show()

+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
|        Id|               Title|Price|       User_id|         profileName|review/helpfulness|review/score|review/time|      review/summary|         review/text|
+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
|1882931173|Its Only Art If I...| null| AVCGYZL8FQQTD|"Jim of Oz ""jim-...|               7/7|         4.0|  940636800|Nice collection o...|This is only for ...|
|0826414346|Dr. Seuss: Americ...| null|A30TK6U7DNS82R|       Kevin Killian|             10/10|         5.0| 1095724800|   Really Enjoyed It|I don't care much...|
|0826414346|Dr. Seuss: Americ...| null|A3UH4UZ4RSVO82|        John Granger|             10/11|         5.0| 1078790400|Essential for eve...|"If people become...|
|0826414346|Dr. Seuss: Americ...| null|A2MVUWT453QH61|"Roy E. Perry ""a...|               7/7|         4.0| 1090713600|Phlip Nel gives s...|Theodore Seuss Ge...|
|0826414346|Dr. Seuss: Americ...| null|A22X4XUPKF66MR|"D. H. Richards "...|               3/3|         4.0| 1107993600|Good academic ove...|"Philip Nel - Dr....|
|0826414346|Dr. Seuss: Americ...| null|A2F6NONFUDB6UK|              Malvin|               2/2|         4.0| 1127174400|One of America's ...|"""Dr. Seuss: Ame...|
|0826414346|Dr. Seuss: Americ...| null|A14OJS0VWMOSWO| Midwest Book Review|               3/4|         5.0| 1100131200|A memorably excel...|Theodor Seuss Gie...|
|0826414346|Dr. Seuss: Americ...| null|A2RSSXTDZDUSH4|           J. Squire|               0/0|         5.0| 1231200000|Academia At It's ...|"When I recieved ...|
|0826414346|Dr. Seuss: Americ...| null|A25MD5I2GUIW6W|"J. P. HIGBED ""b...|               0/0|         5.0| 1209859200|And to think that...|"Trams (or any pu...|
|0826414346|Dr. Seuss: Americ...| null|A3VA4XFS5WNJO3|     Donald Burnside|               3/5|         4.0| 1076371200|Fascinating accou...|As far as I am aw...|
|0829814000|Wonderful Worship...|19.40| AZ0IOBU20TBOP|  Rev. Pamela Tinnin|              8/10|         5.0|  991440000|Outstanding Resou...|I just finished t...|
|0829814000|Wonderful Worship...|19.40|A373VVEU6Z9M0N|Dr. Terry W. Dorsett|               1/1|         5.0| 1291766400|Small Churches CA...|"Many small churc...|
|0829814000|Wonderful Worship...|19.40| AGKGOH65VTRR4|"Cynthia L. Lajoy...|               1/1|         5.0| 1248307200|Not Just for Past...|I just finished r...|
|0829814000|Wonderful Worship...|19.40| A3OQWLU31BU1Y|       Maxwell Grant|               1/1|         5.0| 1222560000|Small church past...|"I hadn't been a ...|
|0595344550|Whispers of the W...|10.95|A3Q12RK71N74LB|         Book Reader|              7/11|         1.0| 1117065600|            not good|I bought this boo...|
|0595344550|Whispers of the W...|10.95|A1E9M6APK30ZAU|           V. Powell|               1/2|         4.0| 1119571200|  Here is my opinion|"I have to admit,...|
|0595344550|Whispers of the W...|10.95| AUR0VA5H0C66C|"LoveToRead ""Act...|               1/2|         1.0| 1119225600|        Buyer beware|"This is a self-p...|
|0595344550|Whispers of the W...|10.95|A1YLDZ3VHR6QPZ|               Clara|               2/4|         5.0| 1115942400| Fall on your knee's|When I first read...|
|0595344550|Whispers of the W...|10.95| ACO23CG8K8T77|               Tonya|               5/9|         5.0| 1117065600|      Bravo Veronica|I read the review...|
|0595344550|Whispers of the W...|10.95|A1VK81CRRC7MLM|"missyLou ""apple"""|               1/3|         5.0| 1130025600|           Wonderful|"I really enjoyed...|
+----------+--------------------+-----+--------------+--------------------+------------------+------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [17]:
# List of columns to find most frequent values
cols_to_check = ["Title", "description", "authors", "image", "previewLink", "publisher", "publishedDate", "infoLink", "categories", "ratingsCount"]

# Find the most frequent value in each column
most_frequent_values = []
for col_name in cols_to_check:
    mode_value = books_data_df.groupBy(col_name).count().orderBy(col("count").desc()).select(col_name).first()[0]
    most_frequent_values.append((col_name, mode_value))

# Print the most frequent value in each column
for col_name, value in most_frequent_values:
    print(f"Most frequent value in column '{col_name}': {value}")

Most frequent value in column 'Title': """Mom
Most frequent value in column 'description': None
Most frequent value in column 'authors': None
Most frequent value in column 'image': None
Most frequent value in column 'previewLink': None
Most frequent value in column 'publisher': None
Most frequent value in column 'publishedDate': None
Most frequent value in column 'infoLink': None
Most frequent value in column 'categories': None
Most frequent value in column 'ratingsCount': None

In [21]:
books_data_df =books_data_df.dropna()

In [22]:
print("Count of dataframe:",books_data_df.count())

Count of dataframe: 53824

In [24]:
books_data_df = books_data_df.dropDuplicates()

In [25]:
print("Count of dataframe:",books_data_df.count())

Count of dataframe: 53824

In [23]:
books_data_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|               Title|         description|             authors|               image|         previewLink|           publisher|       publishedDate|            infoLink|          categories|        ratingsCount|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Dr. Seuss: Americ...|"Philip Nel takes...| like that of Lew...| has changed lang...| giving us new wo...| inspiring artist...|      ['Philip Nel']|http://books.goog...|http://books.goog...|           A&C Black|
|The Church of Chr...|In The Church of ...|['Everett Ferguson']|http://books.goog...|http://books.goog...|Wm. B. Eerdmans P...|                1996|http://books.goog...|        ['Religion']|                 5.0|
|Vector Quantizati...|"Herb Caen, a pop...| but the statemen...|              i. e. | data compression...|               audio|              images| and video signal...|['Allen Gersho', ...|http://books.goog...|
|The Repeal of Ret...|"At a time when A...|       sex educators| and novelists—fr...| Gurstein offers ...|['Rochelle Gurste...|http://books.goog...|http://books.goog...|       Hill and Wang|          2016-01-05|
|    Alaska Sourdough|"""Sourdough is a...| as author Ruth A...| this book includ...| three days to on...| there are more t...| loads of time-te...| and plenty of lo...| there are recipe...|     ['Ruth Allman']|
|History of Magic ...|"See the history ...| such as mandrake...|         key figures|         key deities|       use in spells| structures of re...| and more This in...|        superstition| and the supernat...|
|The Forbidden Sto...|"Marta Veneranda,...|"" the narrator s...| whom she will ev...| and whose mistre...| even about his s...| who would he sha...| that way no one ...| the stories are ...|['Sonia Rivera-Va...|
|Portraits of the ...|"A striking colle...| to the contemporary| such as Elaine d...| such as the inti...| mosaic-like Chuc...| such as the like...| including sculpt...| round out the pr...| exploring the pr...|
|Voices from the F...|Twenty-five years...|     ['Rupert Fike']|http://books.goog...|http://books.goog...|Book Publishing C...|          2012-08-21|https://play.goog...|['Biography & Aut...|                 1.0|
|The Battleship Bi...|The Bismarck is p...|['Stefan Draminski']|http://books.goog...|http://books.goog...|Bloomsbury Publis...|          2018-09-20|https://play.goog...|         ['History']|                 1.0|
|   Usa Laminated Map|"The United State...|            capitals|      major highways|              rivers|               lakes| and many major c...| so the fames can...|                 396|000Sheet Size = 3...|
|The New Conspirac...|"This book examin...| however unpleasa...| since they influ...| both authoritari...| all of which foc...| ['Jeffrey M. Bale']|http://books.goog...|http://books.goog...|           Routledge|
|Tess and the High...|In 1543, on a win...|  ['May Mcgoldrick']|http://books.goog...|http://books.goog...|      Harper Collins|             2002-11|http://books.goog...|['Juvenile Fiction']|                 2.0|
|Beginner's Yoruba...|"""Beginner's Yor...| which is spoken ...| parts of the Ben...|            and Togo| as well as in th...|                Cuba| and Haiti. The 1...| combined with gr...| aid the student ...|
|A Dose of Sanity:...|"""Bravo to Dr. S...| make sure you ge...| People's Medical...| you need A Dose ...| hundreds of thou...|        Lyme disease| and even poor nu...| practicing psych...| he helps you and...|
|King James: Belie...|LeBron James is a...|      ['Ryan Jones']|http://books.goog...|http://books.goog...|St. Martin's Griffin|          2003-10-10|https://play.goog...|['Sports & Recrea...|                 1.0|
|Building the timb...|For centuries, po...|     ['Tedd Benson']|http://books.goog...|http://books.goog...|  Simon and Schuster|          1981-09-01|https://play.goog...|    ['Architecture']|                 1.0|
|Open marriage;: A...|Advocates the imp...|  "[""Nena O'Neill""| ""George O'Neill...|http://books.goog...|http://books.goog...|Rowman & Littlefield|                1984|http://books.goog...|['Family & Relati...|
|No place to cry: ...|Just as God gave ...|['Dorie N. Van St...|http://books.goog...|http://books.goog...|    Moody Publishers|          1992-05-09|https://play.goog...|        ['Religion']|                 4.0|
|The Impatient Gar...|Explains how to g...|     ['Jerry Baker']|http://books.goog...|http://books.goog...|Random House Digi...|                1987|http://books.goog...|       ['Gardening']|                 1.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df= df.withColumnRenamed("previewLink","preview_Link")
df= df.withColumnRenamed("publishedDate","published_Date")
df= df.withColumnRenamed("infoLink","info_Link")
df= df.withColumnRenamed("Customer Age","Customer_Age")
df= df.withColumnRenamed("Customer Name","Customer_Name")
df= df.withColumnRenamed("Product Price","Product_price")
df.show()

In [26]:
books_data_df.printSchema()

root
 |-- Title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- authors: string (nullable = true)
 |-- image: string (nullable = true)
 |-- previewLink: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- publishedDate: string (nullable = true)
 |-- infoLink: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- ratingsCount: string (nullable = true)

***Second Data

In [ ]:
file_path = r"C:\Users\abdel\Downloads\Books_rating.csv\Books_rating.csv"
# Read the CSV file into a DataFrame
Books_rating_df = spark.read.csv(file_path, header=True, inferSchema=True)
Books_rating_df.show()

In [8]:
Books_rating_df.printSchema()
print("Count of dataframe:",Books_rating_df.count())

root
 |-- Id: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- User_id: string (nullable = true)
 |-- profileName: string (nullable = true)
 |-- review/helpfulness: string (nullable = true)
 |-- review/score: string (nullable = true)
 |-- review/time: string (nullable = true)
 |-- review/summary: string (nullable = true)
 |-- review/text: string (nullable = true)

Count of dataframe: 3000000

In [20]:
from pyspark.ml.feature import Imputer

imputer = Imputer(strategy='mean', inputCols=['description'], outputCols=['description_imputed'])
model = imputer.fit(books_data_df)
df_imputed = model.transform(books_data_df)

IllegalArgumentException: requirement failed: Column description must be of type numeric but was actually of type string.

In [9]:
Books_rating_df.describe().show()

+-------+--------------------+--------------------+--------------------+-------------------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+
|summary|                  Id|               Title|               Price|            User_id|profileName| review/helpfulness|      review/score|         review/time|      review/summary|         review/text|
+-------+--------------------+--------------------+--------------------+-------------------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+
|  count|             3000000|             2999792|              482421|            2437750|    2437800|            2999633|           2999870|             2999973|             2999935|             2999957|
|   mean|1.0568515696607149E9|   2012.796651763537|  21.767951161877054|  18.29299003322259|        NaN|3.285048033703448E8| 1656.860421970827|1.1270533345949814E9|            Infinity|  9.95368319174848E8|
| stddev| 1.284488524833734E9|  1536.7533549608797|   26.21155241772817|  21.99284402625621|        NaN| 5.46938050416698E8|1427549.9863179324|1.6715719402140123E8|                 NaN| 4.227222142880359E8|
|    min|          0001047604|  """ Film technique|              "" and| "" Film acting """|          |      #1 Bestse..."|   & Algorithms"""| ""Cards of your ...| ""The Child Manu...|The Tao of Muham...|
|    max|          B0064P287I|you can do anythi...|: A guide to loca...|      AZZZZW74AAX75|    ~~~~~~~|                 xo|         thersites|        sideshowmatt|~~~~~~~~~~~~~~~~~...|~~~~~~~~~~~~~~~~~...|
+-------+--------------------+--------------------+--------------------+-------------------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+